/*--CONTAINERS--*/
.search{
  display: flex;
  margin-bottom: 30px;

  &__pin{
    padding: 10px 15px 9px 15px;
    background-color: $gray;
    border-radius: 15px 0 0 15px;
  }

  &__input[type="text"]{
    width: 154px;
    height: 35px;
    padding-left: 13px;
    border: solid 1px $gray;
    font-weight: bold;
  }

  &__button{
    width: 95px;
    height: 39px;
    color: white;
    background-color: $blue;
    border: none;
    border-radius: 0 12px 12px 0;
    margin-left: -5px;
    font-weight: bold;
  } 
}



.filters{
  display: flex;
  justify-content: space-between;
  width:70%;
  align-content:flex-start;
  &__buttons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  }
}

.info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  
  &__ico {
    border-radius: 12px;
    border: solid  #F2F2F2 1px;
    width: 22px; height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color:#0065FC;
  }
}



//HEBERGEMENT

.heberg{
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  margin-bottom: 35px;

  &__article{
  width: 72%;
  background: $gray;
  border-radius: 15px;
  align-items: center;
    & h2, h3{
      padding-left: 27px;
    }  
    &__cards{
      @include flex-row-around;
      flex-flow: row wrap;    
    }
  }
  
  &__aside {
  width: 26%;
  @include flex-column-around;
  background: $gray;
  border-radius: 15px;  
    &__header{
      @include flex-row-between;
      align-items: center;
    }
  }
}

// ACTIVITES

.activ{
  height: 1200px;

  &__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    

    grid-gap: 1em;

    

    &--spliter{
      grid-template-rows: 25% 25%;
      grid-gap: 1em;

    }
  }
}
