/*--CONTAINERS--*/
#filters{
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  & h3{
    margin-right: 32px;
  }
}


#info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  & #ico{
    margin-right: 12px;
  }
}
//HEBERGEMENT

#hebergement {
  @include flex-row-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}
article{
  width: 72%;
  background: $gray;
  border-radius: 15px;
  align-items: center;
  & h2, h3{
    padding-left: 40px ;
    }
  & a {
    @include quiet-link;
  }
} 

.aside {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: $gray;
  border-radius: 15px;
  align-items: center;

  &__header{
    @include flex-row-between;
  }
}

#cards-heberg{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
  }

// ACTIVITES

.cards-activ{
  @include flex-row-between;
  margin-bottom: 60px;
  height: 446px;
  
  &__small{
    width: 50%;
  }
}

#activities h2{
  margin-bottom: 25px;
}