/*--CONTAINERS--*/
.top__section{
  height: 259px;
  margin-bottom: 40px;
  & > p {
    font-size: 16px;
  }
}
.search{
  display: flex;
  margin-bottom: 30px;
  width: 33%;

  & > label{
    padding: 15px 17px 9px 18px;
    background-color: $gray;
    border-radius: 15px 0 0 15px;
  }
  &__input[type="text"]{
    width: auto; height: 48px;
    padding-left: 13px;
    border: solid 1px $gray;
    font-weight: bold;
    font-size: 16px;
  } 
}

.filters{
  @include flex-row-between;
  height: 500px;
  flex-grow: 1;
  margin-bottom: 20px;
  & h3{
    margin-right: min(2em);
  }
  &__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: wrap;
    flex-grow: 1;
    & > button{
      margin-right: min(2em);
      font-size: 16px;
    }
  }
}

.info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  & > p {
    font-size: 16px;
  }
  
  &__ico {
    border-radius: 12px;
    border: solid  $dark-gray 1px;
    width: 22px; height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: $blue;
  }
}

//HEBERGEMENT

.heberg{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  & > h3{
    font-size: 20px;
  }

  &__article{
    @include gray-container;
    flex-grow: 3;
    max-width: 950px;
    margin-right: min(2em);
    &__cards{
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      align-content: center;    
    }
    & h2 {
      margin-top: 0;
    }
    & h3 {
      margin: 0;
    }
  }
  
  &__aside {
    @include gray-container; 
    &__header{ 
      @include flex-row-between;
      align-items: baseline;
      & h2 {
      margin-top: 0;
      }
      & i{
        font-size: 22px;
      }
    }
    &__cards{
      @include flex-column-between;
      height: 90%;
      
    }
  }
}

// ACTIVITES

.activ{
  
  &__cards{
    height: 446px;
    margin-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    

    & :nth-child(1){
      grid-column: 1;
      grid-row: 1 / span 2;
    }
    & :nth-child(2){
      grid-column: 2;
      grid-row: 1 ;
      grid-template-columns: repeat(4, 1fr);
    }  
    & :nth-child(3){
      grid-column: 2;
      grid-row: 2 ;
    }
    & :nth-child(4){
      grid-column: 3;
      grid-row: 1 / span 2;
    }
    & :nth-child(5){
      grid-column: 4;
      grid-row: 1 ;
    }
    & :nth-child(6){
      grid-column: 4;
      grid-row: 2;
    }
  }
}
