.footer{
  display: flex;
  background-color: $gray;
  margin-bottom: 0;
  padding: 50px;

  & > section{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    line-height: 2;
    
    & ul{
      @include quiet-list;
    }

    & > h3 {
      margin: 0;
    }
  }
}

