.footer{
  display: flex;
  background-color: $gray;
  margin-bottom: 0;
  padding: 50px;

  & > section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 2.3;
    & ul{
      @include quiet-list;
    }
  }
}

