.footer{
  display: flex;
  width:100%;
  background-color: $gray;
  margin-bottom: 0;
  padding: 50px;

  &__section{
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 2.3;
    & ul{
      @include quiet-list;
    }
  }
}

