/*------------------------------
-------------HEADER-------------
------------------------------*/
.header {
  display: flex;
  align-items: center;

  &__logo{
    flex-grow: 1;
  }
  &__signup{
    padding: 25px 25px 0 25px;
    color: $blue;
    font-weight: bold;
  }
}
