/*------------------------------
-------------HEADER-------------
------------------------------*/
header {
  display: flex;
  align-items: center;

  & #logo {
    padding: 35px 0 0 0;
    flex-grow: 1;
  }

  & nav{
    width: 100%;
    @include flex-row-between;
    & ul{
      @include quiet-list;
      @include flex-row-around;
      margin-top: 0;
      margin-bottom: 0;
      
    }
    & .link {
      display: block;
      padding: 35px 35px 0 35px;
      &:hover{
      color: $blue;
      border-top: solid $blue 2px;
      }
    }
  } 

  & #signup {
    display: block;
    padding: 35px 35px 0 35px;
    color: $blue;
    @include bold;
  }
}

