#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  & a{
    color: $blue;
  }
}

header {
  margin: 0;
  align-items: flex-start;
  & a {
    display: flex;
    @include quiet-link;
    height: 50px;
    align-items: flex-end;
    padding: 0 25px 0 25px;
  }
}