.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }

  & li{
    list-style: none;
  }
  &__link {
    padding: 25px 25px 0 25px;
    &:hover{
    color: $blue;
    border-top: solid $blue 2px;
    }
  }
}