/*------------------------------
---------------NAV--------------
------------------------------*/
.nav{
  width: 100%;
  @include flex-row-between;

  & ul{
    @include quiet-list;
    @include flex-row-between;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__link {
    display: block;
    padding: 35px 35px 0 35px;
    &:hover{
    color: $blue;
    border-top: solid $blue 2px;
    }
  }
} 