nav{
  position: absolute;
  top: 0px; right: 126px;

  & ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    margin: 0;
    padding: 0; 

    & li{
      margin-top: 0; 

      & a:hover{
        border-top: solid #0065FC 2px;
        color: #0065FC;
      }
    }
  }
}