@media all and (max-width: 470px) and (orientation: portrait) {
  main{
    padding: 0;
  }
  header{
    margin: 0 0 1em 0;
    width: auto;
  }
  #logo{
    padding-left: 1.5em;
  }
  nav {
    flex-wrap: wrap;
  } 
  nav ul {
    order: 3;
    width: 100vw;
    padding-top: 25px;
  }
  nav ul .link {
    display: block;
    width: 50vw;
    justify-content: space-around;
    text-align: center;
    border-bottom: solid #F2F2F2 3px;
    padding: 0 0 20px 0;
  }
  nav ul .link:hover, nav ul .link:active {
    color: #0065FC;
    border-top: none;
    border-bottom: solid #0065FC 3px;
  }
  .top__section {
    padding: 1em;
  }
  /*top-sect*/
  .top__section {
    padding: 1em;
    margin-bottom: 0;
  }
  #subtitle{
    margin-bottom: 2em;
  }
  /*search*/
  .search {
    width: 100%;
    margin-bottom: 2em;
  }
  .search__input {
    flex-grow: 1;
  }
  .search__button {
    display: none;
  }
  .search__mglass {
    display: inline-block;
  }

  /*------------------------------FILTERS---------------------------*/
  .filters {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .filters h3{
    margin-top: 0;margin-right: 0;
  }
  .filters__buttons {
    width: 100%;
  }
 
  .filter {
    display: flex; flex-direction: row; justify-content: flex-start; align-items: center;
  }

/*heberg*/
  .heberg {
    flex-direction: column;
    margin-bottom: 1em;
  }
  .fig__heberg {
    width: auto;
  }
  article{
    width: calc(100% - 2em);
    padding: 1em; margin: 0;
    background-color: #FFF;
    order: 2; 
  }
  article h2{
    display: inline;
    padding-left: 1em;
  }
  .card__heberg{
    width: 100%;
    margin-bottom: 1em;
  }

  /*pop*/
  .pop__aside {
    order: 1;
    margin: 0 0 1em 0;
    width: auto;
    border-radius: 0;
    padding: 1em;
  }
  .aside-cards{
    height: 900px;
  }
  .card__pop{
    margin-bottom: 1em;
  }

  /*activ*/
  .activ {
    padding: 1em;
    margin-top: 0;
  }
  .activ__cards {
    height: auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fig__activ {
    height: 190px;
  }
    
  /*footer*/
  footer {
    flex-direction: column;padding: 2em;
  }
  .footer > section {
    width: 100%;
  }

}

@media all and (max-width: 425px) and (orientation: portrait) {