body {
  font-family: Raleway;
  margin-top: 0;
}

header, main {
  margin: 0 50px 0 50px;
}

/* Typography */
@font-face {
  font-family: "Raleway";
  src: url("./../../public/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}
h1, h2 {
  font-size: 16px;
}

h3 {
  font-size: 13px;
}

p {
  font-size: 12px;
}

.blue {
  color: #0065FC;
}

.gray {
  color: #e5e5e5;
}

#filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 29px;
}
#filters button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: #FFF;
  border: solid #F2F2F2 2px;
  padding: 18px;
  margin-right: 23px;
}
#filters button .ico {
  padding: 18px;
  background: #DEEBFF;
  border-radius: 28px;
  margin: 0 15px 0 -18px;
}
#filters button .ico i {
  color: #0065FC;
  background: #DEEBFF;
}

#search-field {
  display: flex;
}
#search-field button {
  width: 134px;
  height: 51px;
  color: white;
  background-color: #0065FC;
  border: none;
  border-radius: 0 15px 15px 0;
  margin-left: -5px;
}
#search-field input[type=text] {
  width: 234px;
  height: 47px;
  padding-left: 15px;
  border: solid 1px #F2F2F2;
}
#search-field #pin {
  padding: 15px;
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
}

figure {
  margin: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #e5e5e5;
}
figure:hover {
  transform: scale(1.1);
  transition: transform 300ms ease;
}

article figure {
  margin-bottom: 30px;
  padding: 5px;
}

aside figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#ico {
  border-radius: 13px;
  border: solid #F2F2F2 1px;
  width: 22px;
  height: 22px;
  display: flex;
  overflow: hidden;
}
#ico i {
  font-size: 24px;
  color: #FFF;
  background-color: #0065FC;
  margin: -1px 0 0 -1px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}
#header a {
  color: #0065FC;
}

header {
  margin: 0;
  align-items: flex-start;
}
header a {
  display: flex;
  color: inherit;
  text-decoration: inherit;
  height: 50px;
  align-items: flex-end;
  padding: 0 25px 0 25px;
}

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 50px;
}
footer .footer-section {
  width: 33%;
  text-align: left;
}

nav {
  position: absolute;
  top: 0px;
  right: 126px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul li {
  margin-top: 0;
}
nav ul li a:hover {
  border-top: solid #0065FC 2px;
  color: #0065FC;
}

/*--CONTAINERS--*/
#info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#info #ico {
  margin-right: 12px;
}

#hebergement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 65px;
}

article {
  background: #F2F2F2;
  border-radius: 15px;
  align-items: center;
}
article h2, article h3 {
  padding-left: 40px;
}
article a {
  color: inherit;
  text-decoration: inherit;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #F2F2F2;
  border-radius: 15px;
  align-items: center;
}
aside h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cards-heberg {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

#activities h2 {
  margin-bottom: 25px;
}

#cards-activ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.img-containerL {
  width: 235px;
  height: 114px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

article img {
  width: 100%;
  height: auto;
}

.img-containerS {
  width: 127px;
  height: 134px;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

aside img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
