@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: Raleway;
  box-sizing: border-box;
  margin: 0;
}

header, main {
  margin: 0 50px 0 50px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/*------------------------------
------------TYPOGRAPHY----------
------------------------------*/
h1, h2 {
  font-size: 16px;
}

h3 {
  font-size: 13px;
}

p {
  font-size: 12px;
}

.blue {
  color: #0065FC;
}

.gray {
  color: #e5e5e5;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 50px;
  border-radius: 25px;
  border: solid #F2F2F2 2px;
  background-color: #FFF;
}
.filter-button:hover {
  background-color: #DEEBFF;
  border: #DEEBFF;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DEEBFF;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  margin-left: -10px;
}

.icon {
  color: #0065FC;
}

/*------------------------------
-----------SEARCH BAR-----------
------------------------------*/
#search-field {
  display: flex;
  margin-bottom: 30px;
}
#search-field button {
  width: 134px;
  height: 51px;
  color: white;
  background-color: #0065FC;
  border: none;
  border-radius: 0 15px 15px 0;
  margin-left: -5px;
}
#search-field input[type=text] {
  width: 234px;
  height: 47px;
  padding-left: 15px;
  border: solid 1px #F2F2F2;
}
#search-field #pin {
  padding: 15px;
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
}

figure {
  margin: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #e5e5e5;
}
figure figcaption :nth-child(1) {
  font-weight: bold;
}
figure:hover {
  transform: scale(1.03);
  transition: transform 300ms ease;
}

article figure {
  margin-bottom: 30px;
  padding: 5px;
}

aside figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#ico {
  border-radius: 13px;
  border: solid #F2F2F2 1px;
  width: 22px;
  height: 22px;
  display: flex;
  overflow: hidden;
}
#ico i {
  font-size: 24px;
  color: #FFF;
  background-color: #0065FC;
  margin: -1px 0 0 -1px;
}

/*------------------------------
-------------HEADER-------------
------------------------------*/
.header {
  display: flex;
  align-items: center;
}
.header__logo {
  flex-grow: 1;
}
.header__signup {
  padding: 25px 25px 0 25px;
  color: #0065FC;
  font-weight: bold;
}

.footer {
  display: flex;
  width: 100%;
  background-color: #F2F2F2;
  margin-bottom: 0;
  padding: 50px;
}
.footer__section {
  list-style: none;
  width: 30%;
  line-height: 2.3;
}

/*------------------------------
---------------NAV--------------
------------------------------*/
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}
.nav li {
  list-style: none;
}
.nav__link {
  padding: 25px 25px 0 25px;
}
.nav__link:hover {
  color: #0065FC;
  border-top: solid #0065FC 2px;
}

/*--CONTAINERS--*/
.filters {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.filters__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

#info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
#info #ico {
  margin-right: 12px;
}

#hebergement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

article {
  width: 72%;
  background: #F2F2F2;
  border-radius: 15px;
  align-items: center;
}
article h2, article h3 {
  padding-left: 40px;
}
article a {
  color: inherit;
  text-decoration: inherit;
}

.aside {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #F2F2F2;
  border-radius: 15px;
  align-items: center;
}
.aside__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cards-heberg {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cards-activ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  height: 446px;
}
.cards-activ__small {
  width: 50%;
}

#activities h2 {
  margin-bottom: 25px;
}

.img-containerL {
  width: 302px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#activities img {
  width: 100%;
  height: auto;
}

.img-containerL {
  width: 235px;
  height: 114px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

article img {
  width: 100%;
  height: auto;
}

.img-containerS {
  width: 127px;
  height: 134px;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

aside img {
  width: auto;
  height: 100%;
}

aside #img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
