@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

main {
  padding-right: min(3em);
  padding-left: min(3em);
}

a {
  color: inherit;
  text-decoration: inherit;
}

/*----------------------------TYPOGRAPHY------------------------*/
.blue {
  color: #0065FC;
}
.gray {
  color: #e5e5e5;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 12px;
}

/*----------------------------HEADER-----------------------------*/
header {
  display: flex;
  align-items: center;
  margin: 0 2em 2em 2em;
}
 #logo {
  padding-top: 1.5em; padding-left: 1em;
  flex-grow: 1;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none; padding-left: 0;
  margin-top: 0; margin-bottom: 0;
}
nav .link {
  display: block;
  padding: 2em 2em 0 2em;
}
nav .link:hover {
  color: #0065FC;
  border-top: solid #0065FC 2px;
}
#signup {
  display: block;
  padding: 2em 2em 0 2em;
  color: #0065FC;
  font-weight: 700;
}

/*--------------------------TOP-SECTION-----------------------------*/
.top__section {
  margin-bottom: 1em;
}
.top__section > h1 {
  font-size: 22px;margin: 0;
}
.top__section > p {
  font-size: 16px;margin-top: .5em;
}

/*-------------------------------SEARCH--------------------------------*/


.search {
  display: flex;
  margin-bottom: 30px;
  width: 31%;
}
.search > label {
  padding: 1em;
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
}
.search__input {
  width: 100%;
  height: 3em;
  padding-left: 13px;
  border: solid 1px #F2F2F2;
  font-weight: bold;
  font-size: 1em;
}
.search__button, .search__mglass {
  color: white; background-color: #0065FC;
  border: none;
  margin-left: -5px;
  padding: 15px 15px 15px 15px;
  font-weight: bold;
  font-size: 16px;
}
.search__button {
  border-radius: 0px 12px 12px 0px;
  display: inline-block;
}
.search__mglass {
  margin-left: -2em;
  border-radius: 1em;
  display: none;
}
.search > button:active {
  color: #0065FC; background-color: #FFF;
  border: solid #0065FC 1px;
}

/*---------------------------FILTERS--------------------------------*/
.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}
.filters h3 {
  margin: auto 2em 1em 1em;
  font-size: 17px;
}
.filters__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  flex-flow: row wrap;
}

.filter {
  display: flex; flex-direction: row; justify-content: flex-start; align-items: center;
  height: 3em;
  border: solid #e5e5e5 2px; border-radius: 2em;
  background-color: #FFF;
  font-size: 17px;
  margin-bottom: 1em;
  font-weight: bold;
  transition: all 350ms ease-in-out;
}
.filter__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #DEEBFF;
  min-width: 50px; height: 50px;
  border-radius: 50%;
  margin-left: -10px;
}
.filter__title {
  padding: 0 0.5em 0 0.5em;
}
.filter:hover {
  background-color: #DEEBFF;
  border: #DEEBFF;
  cursor: pointer;
}

/*--------------------------------------Info------------------------------------*/
.info {
  display: flex; flex-direction: row; align-items: center;
}
.info > p {
  font-size: 16px;
}
.info__ico {
  border-radius: 50%;
  border: solid #e5e5e5 1px;
  width: 1.5em; height: 1.5em;
  display: flex; align-items: center; justify-content: center;
  margin-right: 1em;
  color: #0065FC;
}

/*---------------------------------------CARDS---------------------------------*/
figure {
  margin: 0;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0 0 .5em #e5e5e5;
  display: block;
}
figcaption{
  padding-left: .5em;
}
.cap__title {
  font-weight: 700;
  font-size: 1em;
}
.cap__subtitle{
  font-size: .9em;
}
.figure :hover {
  transform: scale(1.03);
  transition: transform all 300ms ease-in-out;
  cursor: pointer;
}

/*----------------------------------------HEBERG--------------------------------*/

/*Hébergement*/
.heberg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.heberg h2 {
  /*margin:  0 0 1em 0;*/
  font-size: 1.4em;
}
.heberg h3 {
  margin: 1em 0 0 0;
  font-size: 1.15em;
}
article {
  display: flex;
  flex-flow: row wrap;
  background-color: #F2F2F2;
  border-radius: 1em;
  padding: 2em;
  width: calc(65% - 1em);
  margin-right: min(2em);
}
.article__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
.fig__heberg {
  margin: 0 auto 1em auto;
  padding: 5px;
  width: 30%; min-width: 12em;
}
.fig__heberg img{
  width: 100%;
  height: 114px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.fig__heberg p{
  margin: .25em;
}

/*--------------------------Populaires----------------------*/
.pop__aside {
  background: #F2F2F2;
  border-radius: 1em;
  padding: 2em;
  width: calc(35% - 1em);
  min-width: 20em;
}
.aside__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.aside__header h2 {
  margin-top: 1em;
}
.aside__header i {
  font-size: 22px;
}
.aside__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.fig__pop { 
  display: flex; flex-direction: row; justify-content: flex-start;
  height: 27%;
  padding: 5px;
  margin-bottom: .75em;
  min-width: 16em; max-height: 8em;
}
.fig__pop img {
  width: 110px;
  height: 100%; max-height: 8em;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}
.pop__cap {
  padding-left: 20px;
  min-width: 7em;
}

/*------------------------Activities-----------------------*/


.activ__cards {
  height: 446px;
  margin-bottom: 4em;
  display: grid;
  grid-template: repeat(2, 1fr)/ repeat(4, 1fr);
  grid-gap: 2em;
}
.activ1 {
  grid-area: 1/1/3/2;
}
.activ2 {
  grid-area: 1/2;
}
.activ3 {
  grid-area: 2/2;
}
.activ4 {
  grid-area: 1/3/3/3;
}
.activ4 img{
  filter: brightness(125%);
}
.activ5 {
  grid-area: 1/4;
}
.activ6 {
  grid-area: 2/4;
}

.fig__activ {
  overflow: hidden;
}

.fig__activ img {
  width: 100%;
  height: calc(100% - 3.5em);
  border-radius: 15px 15px 0 0 ;
  object-fit: cover;
}


.fig__activ figcaption {
  align-items: flex-end;
  background-color: #FFF;
  font-weight: bold;
  font-size: 16px;
  padding: 1em 0 0 20px;
}

/*----------------------------Footer--------------------------*/
.footer {
  display: flex;
  background-color: #F2F2F2;
  margin-bottom: 0;
  padding: 3em;
}
.footer > section {
  display: flex; flex-direction: column;
  width: calc(100% / 3);
  line-height: 2;
}
.footer > section ul {
  list-style: none;
  padding-left: 0;
}
.footer > section > h3 {
  margin: 0;
}