@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header, main {
  margin: 0 50px 0 50px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/*------------------------------
------------TYPOGRAPHY----------
------------------------------*/
h1, h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

.blue {
  color: #0065FC;
}

.gray {
  color: #e5e5e5;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  border: solid #e5e5e5 2px;
  background-color: #FFF;
  font-weight: bold;
  transition: all 350ms ease-in-out;
}
.filter__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: #DEEBFF;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: -10px;
}
.filter__title {
  padding: 0 18px 0 13px;
}
.filter:hover {
  background-color: #DEEBFF;
  border: #DEEBFF;
}

.figure, .figure__activ, .figure__pop, .figure__heberg {
  margin: 0;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #e5e5e5;
}
.figure figcaption, .figure__activ figcaption, .figure__pop figcaption, .figure__heberg figcaption {
  display: block;
}
.figure figcaption :nth-child(1), .figure__activ figcaption :nth-child(1), .figure__pop figcaption :nth-child(1), .figure__heberg figcaption :nth-child(1) {
  font-weight: 600;
}
.figure:hover, .figure__activ:hover, .figure__pop:hover, .figure__heberg:hover {
  transform: scale(1.02);
  transition: transform 300ms ease-in-out;
}
.figure__heberg {
  margin-bottom: 30px;
  padding: 5px;
  height: 200px;
}
.figure__heberg__img {
  width: 235px;
  height: 114px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.figure__heberg__img > img {
  width: 100%;
  height: auto;
}
.figure__pop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 345px;
  padding: 5px;
  margin-bottom: 35px;
}
.figure__pop__img {
  width: 127px;
  height: 134px;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.figure__pop__img > img :nth-child(-n+2) {
  width: auto;
  height: 100%;
}
.figure__pop__img > img :nth-child(3) {
  width: 100%;
  height: auto;
}
.figure__pop figcaption {
  margin-left: min(20px);
  padding-left: 20px;
  max-width: 209px;
}
.figure__activ {
  position: relative;
  overflow: hidden;
  display: flex;
}
.figure__activ__img {
  display: flex;
  align-content: center;
  align-items: center;
}
.figure__activ__img > img {
  height: 100%;
}
.figure__activ figcaption {
  background-color: #FFF;
  height: 56px;
  font-weight: bold;
  padding: 23px 20px 0 20px;
  font-size: 16px;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
}

/*------------------------------
-------------HEADER-------------
------------------------------*/
header {
  display: flex;
  align-items: center;
}
header #logo {
  padding: 35px 0 0 0;
  flex-grow: 1;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}
header nav__link {
  display: block;
  padding: 35px 35px 0 35px;
}
header nav__link:hover {
  color: #0065FC;
  border-top: solid #0065FC 2px;
}
header #signup {
  display: block;
  padding: 35px 35px 0 35px;
  color: #0065FC;
  font-weight: 700;
}

.footer {
  display: flex;
  background-color: #F2F2F2;
  margin-bottom: 0;
  padding: 50px;
}
.footer > section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 2.3;
}
.footer > section ul {
  list-style: none;
  padding-left: 0;
}

/*------------------------------
---------------NAV--------------
------------------------------*/
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}
.nav__link {
  display: block;
  padding: 35px 35px 0 35px;
}
.nav__link:hover {
  color: #0065FC;
  border-top: solid #0065FC 2px;
}

/*--CONTAINERS--*/
.top__section {
  height: 259px;
  margin-bottom: 40px;
}
.top__section > p {
  font-size: 16px;
}

.search {
  display: flex;
  margin-bottom: 30px;
}
.search__pin {
  padding: 15px 17px 9px 18px;
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
}
.search__input[type=text] {
  width: 230px;
  height: 48px;
  padding-left: 13px;
  border: solid 1px #F2F2F2;
  font-weight: bold;
  font-size: 16px;
}
.search__button, .search__button--alt {
  color: white;
  background-color: #0065FC;
  border: none;
  border-radius: 0 12px 12px 0;
  margin-left: -5px;
  padding: 15px 15px 15px 15px;
  font-weight: bold;
  font-size: 16px;
}
.search__button--alt {
  display: none;
  border-radius: 12px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 20px;
}
.filters h3 {
  margin-right: min(2em);
}
.filters__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap;
  flex-grow: 1;
}
.filters__buttons > button {
  margin-right: min(2em);
  font-size: 16px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info > p {
  font-size: 16px;
}
.info__ico {
  border-radius: 12px;
  border: solid #e5e5e5 1px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  color: #0065FC;
}

.heberg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 100%;
}
.heberg > h3 {
  font-size: 20px;
}
.heberg__article {
  background: #F2F2F2;
  border-radius: 15px;
  padding: 44px 38px 44px 38px;
  flex-grow: 3;
  max-width: 950px;
  margin-right: min(2em);
}
.heberg__article__cards {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: center;
}
.heberg__aside {
  background: #F2F2F2;
  border-radius: 15px;
  padding: 44px 38px 44px 38px;
}
.heberg__aside__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.heberg__aside__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activ__cards {
  height: 600px;
  margin-bottom: 63px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
.activ__cards :nth-child(1) {
  grid-column: 1;
  grid-row: 1/span 2;
}
.activ__cards :nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: repeat(4, 1fr);
}
.activ__cards :nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
.activ__cards :nth-child(4) {
  grid-column: 3;
  grid-row: 1/span 2;
}
.activ__cards :nth-child(5) {
  grid-column: 4;
  grid-row: 1;
}
.activ__cards :nth-child(6) {
  grid-column: 4;
  grid-row: 2;
}

/*# sourceMappingURL=style.css.map */
