/*------------------------------
--------------SEARCH------------
------------------------------*/
.search__button{
  color: white;
  background-color: $blue;
  border: none;
  margin-left: -5px;
  padding: 15px 15px 15px 15px; 
  font-weight: bold;
  font-size: 16px;
  &--text{
    @extend .search__button;
    border-radius: 0px 12px 12px 0px;
    display: inline-block;
  }
  &--ico{
    @extend .search__button;
    margin-left: -20px;
    border-radius: 17px 17px 17px 17px;
    display: none;
  }
}
.search > button:active{
    background-color: #FFF;
    color: $blue;
    border: solid $blue 1px;
}


/*------------------------------
------------FILTERS-------------
------------------------------*/
.filter{
  @include flex-row-between;
  margin-bottom: 13px;
  align-items: center;
  height:50px;
  border-radius: 25px;
  border: solid $dark-gray 2px;
  background-color: #FFF;
  font-weight: bold;
  transition: all 350ms ease-in-out;
  &__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: $light-blue;
  width: 50px; height: 50px;
  border-radius: 25px;
  margin-left: -10px;
  
  }
  &__title{
    padding: 0 18px 0 13px;  
  }
  &:hover{
    background-color:$light-blue;
    border: $light-blue;
  }
}
