.figure{
  margin: 0;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 2px 2px 5px $dark-gray;

  & figcaption :nth-child(1){
    font-weight: bold;
  }
  
  &:hover{
    transform: scale(1.02);
    transition: transform 300ms ease-in-out;
  }
}


