.figure{
  margin: 0;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 2px 2px 5px $dark-gray;
  & figcaption{
    display: block;
    & :nth-child(1){
      font-weight: 600;
    }
  } 
  &:hover{
    transform: scale(1.02);
    transition: transform 300ms ease-in-out;
  }

  &__heberg{
    @extend .figure;
    margin-bottom: 30px;
    padding: 5px;
    height: 200px;
    &__img{
      width: 235px;
      height: 114px;
      border-radius: 15px 15px 0 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      & > img{
      width: 100%;
      height: auto;
      }
    }
  }

  &__pop{
    @extend .figure;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 345px;
    padding: 5px; margin-bottom: 35px;
    
    
    &__img{
      width: 127px;
      height: 134px;
      border-radius: 15px  0 0 15px;
      overflow: hidden;
      display: flex;
      align-items: center;
      & > img {
        & :nth-child(-n+2){
          width: auto;
          height: 100%;
        }
        & :nth-child(3){
          width: 100%;
          height: auto;
        } 
      }
    }
    & figcaption{
      margin-left: min(20px);
      padding-left: 20px;
      max-width: 209px;
    }
  }

  &__activ{
    @extend .figure;
    position: relative;
    overflow: hidden;
    display: flex;
    &__img{
      display: flex;
      align-content: center;
      align-items: center;
      & > img {
        height: 100%;
        
        & :nth-child(-3n+1){

        }
      }
    }
    & figcaption{
      background-color: #FFF;
      height: 56px;
      font-weight: bold;
      padding: 23px 20px 0 20px;
      font-size: 16px;
      position: absolute;
      bottom: -15px; left: 0; right: 0;
    }
  }
}
