
#ico {

  border-radius: 13px;
  border: solid  #F2F2F2 1px;
  width: 22px; height: 22px;
  display: flex;
  
  overflow: hidden;
  & i {
    font-size: 24px;
    color: #FFF;
    background-color: #0065FC;
    margin: -1px 0 0 -1px;
  }
}