/*------------------------------
-----------SEARCH BAR-----------
------------------------------*/

#search-field{
  display: flex;
  margin-bottom: 30px;
  & button{
    width: 134px;
    height: 51px;
    color: white;
    background-color: $blue;
    border: none;
    border-radius: 0 15px 15px 0;
    margin-left: -5px;
  }

  & input[type="text"]{
    width: 234px;
    height: 47px;
    padding-left: 15px;
    border: solid 1px $gray;
  };

  & #pin{
    padding: 15px;
    background-color: $gray;
    border-radius: 15px 0 0 15px;
  }
}