/*------------------------------
------------TYPOGRAPHY----------
------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

 h1, h2{
   font-size: 20px;
   
 }

 h3{
  font-size: 16px;
 }

 p{
  font-size: 12px;
 }

 .blue{
  color: $blue;
 }

 .gray{
  color: $dark-gray;
 }
