@mixin quiet-link {
  color: inherit;
  text-decoration: inherit;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin quiet-list {
  list-style: none;
}
