/*------------------------------
-----------RESPONSIVE-----------
------------------------------*/

//iPhone------------------------------------------------------
@media all and (max-width: 376px) and (orientation: portrait){
  .search {
    width: 100%;
    &__input {
    flex-grow: 1;
    }
    &__button--text{
      display: none;
    }
    &__button--ico{
      display: inline-block;
    }
  }
  .filters{
    flex-direction: column;
    flex-wrap: wrap;
    &__buttons{
      width: 100%;
    }
  }





.figure__pop{
  margin-bottom: 10px;
}
/*
.fig__activ:nth-child(1) .activ__img img {
  width: 100%;
  height: auto;
}
.fig__activ:nth-child(4) .activ__img img {
  width: 100%;
  height: auto;
}
  */
} 

//iPad--------------------------------------------------------
@media all and (max-width: 768px) and (orientation: portrait){
  header, main{
    margin: 0;
   }

  nav {
    flex-wrap: wrap;
    & #logo{
      margin-left: 5vw;
      margin-top: -17px;
    }
    & ul{
      order:3;      
      width: 100vw;
      padding-top: 25px;
    
      & .link {
        display: block;
        width: 50vw;
        justify-content: space-around;
        text-align: center;
        border-bottom: solid $gray 3px;
        padding: 0 0 20px 0;
        &:hover{
          color: $blue;
          border-top: none;
          border-bottom: solid $blue 3px;
        }
      }
    }
  }

  .top__section{
    margin: 0 20px 0 20px;
    margin-right: 20px; margin-left: 20px;
  }

  .filters{
    flex-direction: column;
    flex-wrap: wrap;
    &__buttons{
      width: 100%;
    }
  }

  .search {
    width: 100%;
    &__input {
    flex-grow: 1;
    }
  }
  
  .heberg{
    flex-direction: column;
    article{
      margin-right: 20px; margin-left: 20px;
      padding: 0;
      order:2;
      background-color: #FFF;
    }
    aside{
      width: 80vmin;
      order:1;
      border-radius: 0;
      margin-bottom: 20px;
    }
  }

  .fig{
    &__heberg{
      width: 100%;
      &__img{
        width: 100%;
      }
      &__cap{
        padding-left: 15px;
        }
    }
    &__pop{
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .activ{
    padding: 20px;
    &__cards{
      height: auto;
      margin-bottom: 63px;
      @include flex-column-between;
    }
  }
  .fig__activ{
    height: 190px;
    &__img{
      overflow: hidden;
    }
  }

  footer{
    flex-direction: column;
    & > section{
      width: 100%;
      }
    }
  }

  
